# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# SQLite database files
*.sqlite3
*.db

# Environment variables
.env
.env.*

# Misc
*.bak
*.swp
*.swo